<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <
        <form action="/post/{{topic_id}}?_method=PUT" method="POST">
          <label for="subject">
            subject: <input type="text" name="subject" id="subject" value="{{subject}}">
          </label>
          <label for="content">
            content: <input type="text" name="content" id="content" value="{{content}}">
          </label>
          <button type="submit">update the change</button>, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
</body>
</html>